body{
    background-color: rgb(113, 126, 126);
}
.conver{
    
    margin: 180px;
    size: 30px;
    width: fit-content;
}
#conver{
    box-shadow: violet;
    font-size: 20px;
}
#conver{
    background-color: rgb(194, 173, 153);
}
#convtemp{
    background-color: rgba(214, 191, 140, 0.904);
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-left: 380px;
    border-radius: 18px;
    
}
#convtemp input{
    color: rgb(0, 0, 0);
    size: 30px;
    height: 30px;
    border-radius: 5px;
}
#convtemp input:hover{
    background-color: rgb(19, 165, 44);
}
#unit{
    height: 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}
#unit:hover{
    background-color: rgb(19, 165, 44);
}
.submit{
    text-align: center;
    width: 100px;
    background-color: rgb(243, 145, 16);
    border-radius: 10px;
    font-size: 18px;
}
.submit:hover{
    background-color: rgb(19, 165, 44);
}